.search-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.search-container h1{
    font-size: 2.5rem;
}
.search{
    display: flex;
    gap:10px
}
.input{
    background-color: var(--background-card);
    display: flex;
    padding:0px 20px;
    width: 400px;
    border-radius: 10px;
    gap:10px

}
.input input{
   background-color: inherit;
   border: none;
   padding: 10px  0px;
   width: 100%;
   color: var(--color);
}
input::placeholder{
    color: var(--color);
}
input:focus{
    outline: none;
    border: none;
}
.search button{
    border-radius: 10px;
    padding: 0px 20px;
    background-color: var(--background-button);
    border: none;
    color: var(--color);
    cursor: pointer;

}
.suggestions-list {
  position: absolute;
  top: 100%;
  left: 35px; /* para no tapar el ícono */
  width: calc(100% - 35px);
  background: rgb(7, 7, 7);
  border: 1px solid #ccc;
  border-radius: 10px;
  list-style: none;
  margin-top: 5px;
  padding: 0;
  z-index: 100;
  max-height: 180px;
  overflow-y: auto;
}

.suggestion-item {
  padding: 8px 12px;
  cursor: pointer;
  transition: background 0.2s;
}

.suggestion-item:hover {
  background: #f0f0f0;
}
@media (max-width:520px) {
    .search{
        flex-direction: column;
    }
    .search button{
        padding: 15px;
    }
}